header {
	padding: 2%;
	position: absolute;
	width: 100%;

	.container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 a {
		font-size: 20px;
		border: 3px solid black;
		padding: 5px 10px;
		text-transform: uppercase;
		letter-spacing: 5px;

		&:hover,
		&:focus {
			background-color: $accentColor;
			border: 3px solid black;
		}
	}


}