ul.menu {
	margin: 0;
	padding: 0;
	font-family: $fontTitle;
	text-transform: uppercase;
	letter-spacing: 5px;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			color: black;
		}
	}
}