.sidebar {
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			padding: 8px;
		}
	}

	a:hover {
		border-bottom: 2px solid $accentColor;
	}

	h3 {
		padding: 10px 0;
	}

	input {
		border: 2px solid black;
		padding: 5px 10px;
		background: rgba(0,0,0,0);
	}

	input[type=search] {
		width: 80%;
	}

	input.searchsubmit {
		font-family: $fontTitle;
		margin-top: 10px;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;

		&:hover {
			background-color: $accentColor;
		}
	}
}
